.heading {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
}

.color{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}
.paragraph {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}