.active:hover{
    color: rgb(20, 37, 219);
    font-weight: 1000;
}
/* .default{
    color: blueviolet;
    font-size: larger;
} */

/* .nav-link.active-link{
    font-weight: 800;
    color: blueviolet;
} */